body {
  margin: auto;
}

#wellcome {
  height: 150px;
  width: auto;
  background-color: #d9dddd;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  color: black;
  font-size: 30px;
  margin: 0;
}

section {
  height: auto;
  background-color: #e1e2dc;
  padding-top: 10px;
  
}

section h1 {
  display: block;
  text-align: center;
}

section ul{
 padding-left: 10px;
 margin-top: 10px; 
 display: block;
 text-align: center;
}

section ul li {
  margin-bottom: 10px;
  list-style-type: none;
}

section ul li a:first-child{
  margin-top: 10px;
}

section ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}